/* NAVIGATION */
nav{
    position:fixed;
    top: 0;
    left:0;
    text-align:end;
    background: blueviolet;
    width: 100%;
    padding: 10px;
    z-index: 1;
    
}
nav a{
    text-decoration: none;
    font-size: large;
    margin-right: 5%;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav a:hover{
    color: aliceblue;
}
/* home */

section{
    height: 100vh;
    display: flex;
    
}
.head1{
    color: aliceblue;
    display: block;
    width: 50%;
    padding-top: 15%;
    text-align: center;
    font-size: xx-large;
    line-height: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
#home{
    background: black;
}

/* ABOUT */

#about{
    background: brown;
}
.about{
    position: absolute;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 15%;
    text-align: center;
    justify-content: center;
    font-size: large;   
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 2px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* SKILLS */

#skills{
    background: rgb(38, 38, 108);
}
.skills{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
   
}
.container{
    width: 100%;
    background: rgb(187, 202, 214);
    
}
.java{
    width: 80%;
    background: red;
    text-align: right;
}
.python{
    width: 50%;
    background: rgb(255, 102, 0);
    text-align: right;
}
.php{
    width: 80%;
    background: rgb(240, 10, 102);
    text-align: right;
}
